.pagination{
    &__results{
        padding: 2.5rem 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
    /* gap: 0.5rem; */
    column-gap: 0.5rem;
    }
    &__button{
        cursor: pointer;
        width: 2.5rem;
        border-radius: 113rem;
        background-color: var(--color-primary-dark);
        padding: 0.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s all;
        box-shadow: 0 1.5rem 3rem var(--color-Grey-dark-1);
        &:hover{
            box-shadow: var(--neon-light);
            opacity: .9;
        }
    }
    &__number{
        cursor: pointer;
        user-select: none ;
        font-size: 1.3rem;
        text-align: center;
        color: white;
        font-weight: 400;
    }
}