.slider {
  height: 80vh;
  position: relative;
  overflow: hidden;
}
// .line-2{
//   position: absolute;
//   width: 0%;
//   height: 0.8rem;
//   background: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
//   bottom: -3px;
//   left: 0;
//   opacity: 1;
//   transition: all 0.5s;
//   z-index: 1;
// }
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  opacity: 0;
  /* THIS creates the animation! */
  transition: all 1s;
  &__background {
    height: 80vh;
    position: relative;
  }
  &__info{
    overflow: hidden;
    position: absolute;
    left: 6rem;
    top: 30%;
    display: flex;
    flex-direction: column;
    transform: translateY(-1rem);
    transition: all 1.8s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    opacity: 0;
    @include respond(tablet){
      top: 56%;
  }
  }
  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

    &-small {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.5rem;
      pointer-events: none;
    }
  }
  &__pagination {
    width: 100%;
    gap: 3rem;
    padding: 3.5rem 0;
    display: flex;
    justify-content: center;
    background-color:  --main-color;
    @include respond(tablet){
      padding: 3.5rem 1.5rem;
      justify-content: space-evenly;
    }
  }
  &__button {
    width: 25em;
    height: 13rem;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s all;
    position: relative;
    overflow: hidden;
    @include respond(tablet){
      width: 23rem;
      height: 11rem;
    }
    &:hover {
      transform: translateY(-1rem);
      box-shadow: var(--shadow-dark);
      opacity: .7;
    }
  }
}
.active {
  border-radius: 2rem;
  padding: 0.2rem;
  border: 3px solid var(--color-primary);
  transform: translateY(-1rem);
  box-shadow: var(--neon-light);
}
.load {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.08);
  height: 100%;
  opacity: 0.3;
  animation: loading 5s linear infinite;
  background-color: var(--color-Grey-dark-3);
}
.infoico{
  top: 16% !important;
  @include respond(tablet){
    top: 30% !important;
}
}
