.spider{ 
    background-color: orangered!important;
    box-shadow: var(--shadow-dark)!important;
    font-size: 1.6rem !important;
    font-weight: 500 !important;
    padding: 1.5rem 2.8rem !important;
    border-radius: 3px !important; 
    &::after{
        background-color: orangered!important;
        border-radius: 3px !important; 

    }
}
.default{
    color: var(--color-Grey-dark-2) !important;
    font-size: 1.6rem !important;
    font-weight: 500 !important;
    background-color:var( --color-Grey-light-2)!important;
    box-shadow: 0 1.2rem 4rem black!important;
    margin: 0 !important;
    &::after{background-color:var( --color-Grey-light-2)!important;}
}
.xbox{
    color: white !important;
    font-size: 1.6rem !important;
    padding: 1.5rem 2.8rem !important;
    border-radius: 3px !important; 
    font-weight: 500 !important;
    background-color:rgb(13, 131, 13)!important;
    &::after{    background-color:rgb(13, 131, 13)!important;  border-radius: 3px !important; 
    }
}
.count{
    color: var(--color-primary);
    font-weight: 300;
    margin-top: -.4rem;
}
.ps{
    border: 2px solid var(--color-primary-dark);
}
.xbox1{
    border: 2px solid rgb(13, 131, 13);
}
.def{
    border: 2px solid white;

}
.moving-icon{
    margin-left: 3rem;
    animation: bounce 3s ease-in-out  infinite  ;
}